
body{
  width: 100%;
  background-color: lightblue;
}

h1, h2{
  text-align: center;
}

#container{
  margin-top: 80px;
  background-color: lightgray;
  padding-top: 10px;
  padding-bottom: 30px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-color: black;
  border: 1px solid;
  border-radius: 10px;
}

#reset{
  margin-left: auto;
  margin-right: auto;
  background-image: url('images.gif');
  height: 23px;
  width: 26px;
}

#boardContainer{
  width: 240px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

#bombCount{
  margin-top: 30px;
  width: 240px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.happyFace{
  background-position: 0px -32px;
}

.pressedFace{
  background-position: -26px -32px;
}

.anticipationFace{
  background-position: -52px -32px;
}

.loseFace{
  background-position: -78px -32px;
}

.winFace{
  background-position: -104px -32px;
}



.tile{
  background-image: url('images.gif');
  float: left;
  height: 16px;
  width: 16px;
}

.revealed-0{
  background-position: 0px 0px;
}

.revealed-1{
  background-position: -16px 0px;
}

.revealed-2{
  background-position: -32px 0px;
}

.revealed-3{
  background-position: -48px 0px;
}

.revealed-4{
  background-position: -64px 0px;
}

.revealed-5{
  background-position: -80px 0px;
}

.revealed-6{
  background-position: -96px 0px;
}

.revealed-7{
  background-position: -112px 0px;
}

.revealed-8{
  background-position: -128px 0px;
}

.concealed{
  background-position: 0px -16px;
}

.flagged{
  background-position: -16px -16px;
}

.triggeredBomb{
  background-position: -32px -16px;
}

.wrongFlag{
  background-position: -48px -16px;
}

.bomb{
  background-position: -64px -16px;
}