<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>Minesweeper</title>

		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	</head>

	<body>
		<h1>Minesweeper</h1>
		<h2>A Clone of the Classic Computer Game</h2>

		<div id="container">

			<div id="reset" class="happyFace">
			</div>

			<div id="boardContainer">
			</div>	

		</div>

		<div id="bombCount">
		</div>

		<script>
			var game = new Minesweeper.Game();
		</script>
	</body>
</html>